<!-- base.htmlの中に追加 -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhotoEval</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- ローディング画面 -->
    <div id="loading-screen" style="display: none;">
        <div class="spinner"></div>
        <p>画像を評価中です。しばらくお待ちください...</p>
    </div>
    <header>
        <div class="container header-container">
            <a href="{{ url_for('upload_file') }}" class="logo">PhotoEval</a>
            <nav>
                <ul class="nav-right">
                    <li><a href="{{ url_for('upload_file') }}">Upload</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <div class="container">
            © 2024 Photo Evaluation App. All rights reserved.
        </div>
    </footer>
</body>
<script src="{{ url_for('static', filename='scripts.js') }}"></script>
</html>